<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="shortcut icon" type="image/png" href="images/image.png"/>
    <title>Web Technical Assistance</title>
</head>
<body>
    <div class="div1">
        <h1 class="titule">
            Hello World !!! 
            this is the html file
            for the project if it were in the Spring MVC model
        </h1>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>